<% content_for :title, "Showing list" %>

<div class="md:w-2/3 w-full mx-auto px-4 py-8">
  <% if notice.present? %>
    <div class="p-3 mb-6 rounded-lg bg-[#E2E639]/90 text-[#3B1D59] font-medium shadow-md" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="flex items-center justify-between mb-8 border-b-2 border-[#542EA6] pb-4">
    <h1 class="font-bold text-4xl text-[#3B1D59] drop-shadow-md"><%= @list.nome %></h1>
    <div class="flex gap-2">

      <%= link_to "â¬…", lists_path, 
        class: "text-center px-4 py-2 rounded-lg bg-[#542EA6] text-white hover:bg-[#3B1D59] transition-colors duration-200 shadow-md" %>

      <%= link_to "âœï¸", edit_list_path(@list), 
          class: "p-2 rounded-lg bg-[#E2E639] hover:bg-[#F25116] transition-colors duration-200 shadow-md",
          title: "Editar lista" %>
          
      <%= button_to "ðŸ—‘", @list, method: :delete, 
          class: "p-2 rounded-lg bg-[#F25116] hover:bg-[#E2E639] transition-colors duration-200 shadow-md",
          form: { data: { turbo_confirm: "Tem certeza que quer apagar esta lista?" } },
          title: "Apagar lista" %>
    </div>
  </div>

  <%= turbo_frame_tag "todo-items", class: "space-y-3" do %>
    <% @items.each do |item| %>
      <%= render "item", item: item %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag :new_item, src: new_list_item_path(@list), class: "mt-6" %>


</div>