<% content_for :title, "Showing list" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>


  <h1 class="font-bold text-5xl" ><%= @list.nome %></h1>

  <!--Coloca os items dentro de uma div que sera alvo do turbo-stream-->
  <div id="todo-items">
  <% @list.items.each do |item| %>
    <%= render "item", item: item %>    <!--Renderiza o arquivo item -->
  <% end %>
  </div>
  
  <!-- Esse eh um Turbo Frame, que permite atualizar so uma parte da pagina sem recarrega-la inteira
  :new_item eh o ID do Turbo Frame.
  src: new_list_item_path(@list) diz: carregue o conteudo desse frame via requisicao GET para essa URL, que no caso eh o formulario new.
  -->
  <%=turbo_frame_tag :new_item , src: new_list_item_path(@list)%>

  <%= link_to "Edit this list", edit_list_path(@list), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to lists", lists_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Destroy this list", @list, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
