<!DOCTYPE html>
<html>
  <head>
    <title>ToDoV360</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-white shadow-md w-full fixed top-0 left-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Logo da v360 no topo -->
    <div class="flex items-center space-x-2">
      <%= image_tag "logov360.png", alt: "Logo", class: "h-9 w-9" %>
    </div>
     <!-- Botao para nova lista -->
    <div>
     <%= link_to "Nova lista", new_list_path, class: "rounded-md px-3.5 py-2.5 bg-[#2E1463] text-[#FF490D] block font-medium" %>
    </div>
  </div>

    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
